body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  backgroundColor: rgba(106, 106, 106, 0)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.btn-dark {
  --bs-btn-color: #fff;
  --bs-btn-bg: #5e5e5ead;
  --bs-btn-border-color: #ffffff00;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #424649;
  --bs-btn-hover-border-color: #373b3e;
  --bs-btn-focus-shadow-rgb: 66,70,73;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #4d5154;
  --bs-btn-active-border-color: #373b3e;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #212529;
  --bs-btn-disabled-border-color: #212529;
}
.navbar-brand{
  color: black
}
.nav-link{
  color:black;
  
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color:black
}
.nav-link:focus, .nav-link:hover {
  color: rgb(218 9 9);
}



.card-body{
  color: white;
}
.btn-primary {
 
  --bs-btn-bg: #5b5d60;
  --bs-btn-border-color: #818181;
 
  --bs-btn-hover-bg: #474849;
}